.left{
  padding: 5%;
  width: 50%;

}


.left p{
  text-align: justify;
  color: #4B4B4B;
  font-size: .9rem;
  font-weight: 300;
}


.left h1{
 font-weight: 300;
 color:#263654;
 font-size: 2rem;
}

.left h2{
 font-weight: 700;
 color:#263654;
}


.picAbout{
  width: 350px;
  margin: 8% 7%;

}

.insta{
  font-size: 2rem;
  color:#263654;
}


.insta a{
  text-decoration: none
}

.email{
  margin-top: -20px;
  color:#263654;

}
.phone{
color:#263654;}
