.left{
  padding: 1% 5%;

  font-family: newMedia;
  letter-spacing: 0.1em;
  color:  #C8C8C8;

}


.left p{
  text-align: justify;
  color: #C8C8C8;
  font-size: .8rem;
  font-weight: 300;
}


.left h1{
 font-weight: 300;

 font-size: 2rem;

}



.box{
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  width: 90%;
  align-items: center;
}


.left h3{
   font-family: newMedia;
  letter-spacing: 0.1em;

}

.left h2{
 font-weight: 700;

}



.insta{
  font-size: 1.5rem;
  color:#2D3036;
}


.insta a{
  text-decoration: none
}

.email{
  margin-top: -20px;
  color:#263654;

}
.phone{
color:#263654;}

.LOGOabout{
  margin-top: -30px;
}



