.left{
  padding: 1% 5%;
  width: 50%;
  font-family: newMedia;
  letter-spacing: 0.1em;
  color:  #2D3036;

}


.left p{
  text-align: justify;
  color: #4B4B4B;
  font-size: .8rem;
  font-weight: 300;
}


.left h1{
 font-weight: 300;

 font-size: 2rem;

}


.left h3{
   font-family: newMedia;
  letter-spacing: 0.1em;
  margin-top: -50px
}

.left h2{
 font-weight: 700;

}


.picAbout{
  width: 350px;
  margin: 220px 7%;

}

.insta{
  font-size: 1.5rem;
  color:#2D3036;
}


.insta a{
  text-decoration: none
}

.email{
  margin-top: -20px;
  color:#263654;

}
.phone{
color:#263654;}

.LOGOabout{
  margin-top: -30px;
}



