.tabs-container{
font-family: 'Metrophobic', sans-serif;
padding: 0rem 1.0875rem;
display: flex;
width: 100%;
justify-content: space-between;
align-items: center;
letter-spacing: .1rem;


}

.tabs-container h1{
  font-size: 1rem;
  margin-top: 20px;
 font-family: 'Metrophobic', sans-serif;
}



.svg1{
  top: -1px;
  left: 100px;
  position: absolute;
  visibility: hidden;

}

.svg2{
  top: -1px;
  left: 249px;
  position: absolute;
  visibility: hidden;

}


.svg3{
  top: -1px;
  left: 355px;
  position: absolute;
  visibility: hidden;

}


.tabs{
  position: relative;
}


.modélisme{
  font-size: .9rem;
  font-weight: 300;
}

.proj:hover ~ .svg1{
    visibility: visible;
    stroke-dasharray: 55;
  stroke-dashoffset: 55;
  animation: dash 1s linear forwards;
  animation-fill-mode: forwards;
}

.md:hover ~ .svg2{
    visibility: visible;
    stroke-dasharray: 55;
  stroke-dashoffset: 55;
  animation: dash 1s linear forwards;
  animation-fill-mode: forwards;
}

.ab:hover ~ .svg3{
    visibility: visible;
     stroke-dasharray: 55;
  stroke-dashoffset: 55;
  animation: dash 1s linear forwards;
  animation-fill-mode: forwards;
}

@keyframes dash{
  to {
    stroke-dashoffset: 0;
  }
}


.choice{
  width: 110px;
  font-family: 'Metrophobic', sans-serif;
  background: white;
  margin-left: 80%;

}

.choice a{
  text-decoration: none;
  color: black;
  letter-spacing: .1rem;
  font-size: .7rem;
}

