.videoDiv{
  margin:auto;
  position: relative;
  z-index: 20;
}



.background-i{
  background: url(../images/picBack3.png);
  width: 100%;
}

video{
  width: 68%;
  height: 85vh;
  margin-left: 33%;
  margin-top: -20px;
  margin-bottom: 30px;
  z-index:5;
  position: relative
}


.titles{
  position: absolute;
top: 20%;
left: 3%;
width: 30%;

z-index: 10;
color: #263654;
}


.voir a{
  color: #263654;
text-decoration: none;
}


.titles h2{

   color: #263654;
   font-weight: 900;
   font-family: Roboto
}


.titles h1{

   color: #263654;
   font-weight: 300;
   width: 400px;
   font-family: Roboto;
}


.voir{
  margin-left: 35%;
  position: relative;
  margin-top: 100px;
  font-weight: 900;
  font-family: Roboto;
}

.voir:hover svg{
  left: 175px;
}

.voir svg{
  position: absolute;
  top: -13px;
}


