.videoDiv{
  margin:auto;
  position: relative;
  z-index: 20;
}



.background-i{
  background: url(../images/picBack3.png);
  width: 100%;
}

video{
  width: 68%;
  height: 85vh;
  margin-left: 33%;
  margin-top: 20px;
  margin-bottom: 40px;
  z-index:5;
  position: relative
}


.titles{
  position: absolute;
  font-family: newMedia;
top: 12%;
left: 3%;
width: 30%;

z-index: 10;
color: #263654;
}


.voir a{
  color: #263654;
text-decoration: none;
}


.titles h2{

   letter-spacing: 0.1em;
  color:  #2D3036;
   font-weight: 300;
   font-family: newMedia;
   font-size: .8rem;
   margin-top: 60px;
   margin-left: 15px;
}


.titles svg{
  margin-bottom: -10px;
}


.titles h1{

   letter-spacing: 0.1em;
  color:  #2D3036;
   font-weight: 100;
   font-size: .9rem;
   width: 380px;
   font-family: newMedia;
}


.voir{
  margin-left: 19%;
  position: relative;
  background:#2D3036 ;
  padding: 14px 12px;
  padding-top: 16px;
  width: 150px;
  font-weight: 300;
  color: white;
  font-size: .8rem;
 font-family: newMedia;
  text-align: center;
  letter-spacing: 0.1em;

}

.voir a{
  color: white;
}

.voir:hover {

   font-weight: 900;
}


.LOGO{
margin-top: -90px;}



