.picS{
  width: 30%;
  float: left;
  margin:10px;
}


.moodboard{
  margin:auto;
  width: 85%;
  margin-top: -300px;
  position: relative;
  z-index: 10;
}




.background-m{
  background: url(../images/picBack4.png)
}
