



.toShow{

  height: 50vh;
  margin: auto;
  width: 50%;

}


.background{
  background:#0B364F;
  height: 101vh;
 overflow:hidden;

}

.background html, body {

  font-family: Roboto;
  overflow:hidden;

}


.projets{
  position: relative;

  margin: auto;
  width: 500px;
  margin-top: 60px;
}

.next{
  width: 80px;
  color: white;
   margin: 50px;

}


.projet{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

}

.title{
  position: absolute;
  padding: 20px 50px;
  transform: rotate(-90deg);
  margin-top: -400px;
  margin-left: -210px;
  color: white;
  background:#0B364F;
}


.title2{
  position: absolute;
  padding: 20px 50px;
  transform: rotate(-90deg);
  margin-top: -400px;
  margin-left: -145px;
  color: white;
  background:#0B364F;
}

.title3{
  position: absolute;
  padding: 20px 50px;
  transform: rotate(-90deg);
  margin-top: -400px;
  margin-left: -170px;
  color: white;
  background:#0B364F;
}

img{
  margin-bottom: 0px;
}


.picture1{
box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
background: transparent;
      position: relative;
      z-index: 10;
      transition: all 3s ease-out
}

.projets:hover .picture2{
transform: translate(20px, 40px);
  transition: all 1s ease-out

}
.picture2{

background: transparent;
      position: relative;
      z-index: 10;
      transition: all 3s ease-out;
      box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
}

.projets:hover .picture3{

transform: translate(-20px, -20px);
  transition: all 1s ease-out

}

.picture3{

background: transparent;
      position: relative;
      z-index: 10;
      transition: all 3s ease-out;
      box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
}
